@model ITP245_Fall2024_GraysonModel.Game
@{
    ViewBag.Title = "Game Details";
}

<h2>Game Details</h2>
<dl class="row">
    <dt class="col-sm-3">Game Date</dt>
    <dd class="col-sm-9">@Model.DateTime.ToString("MM/dd/yyyy")</dd>

    <dt class="col-sm-3">Game Time</dt>
    <dd class="col-sm-9">@Model.DateTime.ToString("hh:mm tt")</dd>

    <dt class="col-sm-3">Field</dt>
    <dd class="col-sm-9">@(Model.Field?.Name ?? "N/A")</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@Model.StatusId.ToString()</dd>

    <dt class="col-sm-3">Home Team</dt>
    <dd class="col-sm-9">@(Model.Team?.Name ?? "N/A")</dd>

    <dt class="col-sm-3">Visitor Team</dt>
    <dd class="col-sm-9">@(Model.Team1?.Name ?? "N/A")</dd>

    <dt class="col-sm-3">Home Score</dt>
    <dd class="col-sm-9">@(Model.HomeScore?.ToString() ?? "N/A")</dd>

    <dt class="col-sm-3">Visitor Score</dt>
    <dd class="col-sm-9">@(Model.VisitorScore?.ToString() ?? "N/A")</dd>

    <dt class="col-sm-3">Winner</dt>
    <dd class="col-sm-9">@(Model.Winner ?? "N/A")</dd>

    <dt class="col-sm-3">Comment</dt>
    <dd class="col-sm-9">@(Model.Comment ?? "N/A")</dd>
</dl>
