@model IEnumerable<ITP245_Fall2024_GraysonModel.Game>
@using ITP245_Fall2024_GraysonModel
@{
    ViewBag.Title = "Games";
    var statuses = ViewBag.Statuses as List<SelectListItem>;
}
<h2>@ViewBag.Title</h2>
<div>
    @if (statuses != null)
    {
        foreach (var status in statuses)
        {
            <label>
                <input type="radio" name="status" value="@status.Value" class="status-filter" /> @status.Text
            </label>
        }
    }
    <label>
        <input type="radio" name="status" value="0" class="status-filter" checked="checked" /> All
    </label>
</div>
<div id="games-list">
    @Html.Partial("_Index", Model)
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on('change', '.status-filter', function () {
            var statusId = $('input[name="status"]:checked').val();
            $.get('@Url.Action("_Index", "Game")', { id: statusId }, function (data) {
                $('#games-list').html(data);
            });
        });
    </script>
}
