@model ITP245_Fall2024_GraysonModel.Team

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DivisionId, "Division")
    @Html.DropDownList("DivisionId", null, "-- Select Division --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.DivisionId)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ManagerID, "Manager")
    @Html.DropDownList("ManagerID", null, "-- Select Manager --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ManagerID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AssistantManagerID, "Assistant Manager")
    @Html.DropDownList("AssistantManagerID", null, "-- Select Assistant Manager --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.AssistantManagerID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ShortName)
    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ShortName)
</div>

<input type="submit" value="Save" class="btn btn-primary" />