@model ITP245_Fall2024_GraysonModel.Team

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DivisionId, "Division")
    @Html.DropDownList("DivisionId", null, "-- Select Division --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.DivisionId)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ManagerID)
    @Html.TextBoxFor(model => model.ManagerID, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ManagerID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AssistantManagerID)
    @Html.TextBoxFor(model => model.AssistantManagerID, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.AssistantManagerID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ShortName)
    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ShortName)
</div>
