@model ITP245_Fall2024_GraysonModel.Team

@{
    var imagePath = System.Configuration.ConfigurationManager.AppSettings["LogoImageLocation"];
}

@if (!string.IsNullOrEmpty(Model.ImageLocation))
{
    var image = string.Format("{0}{1}", imagePath, Model.ImageLocation);
    <img id="TeamLogoImage" height="100" width="90" style="border:solid" src="@Url.Content(image)" alt="Team Logo" />
}

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DivisionId, "Division")
    @Html.DropDownList("DivisionId", (IEnumerable<SelectListItem>)ViewBag.DivisionId, "-- Select Division --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.DivisionId)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ManagerID, "Manager")
    @Html.DropDownList("ManagerID", (IEnumerable<SelectListItem>)ViewBag.ManagerID, "-- Select Manager --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ManagerID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AssistantManagerID, "Assistant Manager")
    @Html.DropDownList("AssistantManagerID", (IEnumerable<SelectListItem>)ViewBag.AssistantManagerID, "-- Select Assistant Manager --", new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.AssistantManagerID)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ShortName)
    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ShortName)
</div>

<div id="uploader" class="form-group">
    <div class="row">
        @Html.Label("Select Team Logo", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="FileName" type="file" name="FileName" accept="image/*" onchange="show(this)" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        function show(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#TeamLogoImage').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
