@using ITP245_Fall2024_Grayson.Models;
@model Contact
@{
    ViewBag.Title = "Contact Information";
}

<main aria-labelledby="title">
    <h2 id="title">@Model.Author</h2>
    <h3 style="color:cornflowerblue">@ViewBag.Message</h3>
    <address>
        @Model.Author<br />
        <a href="mailto:@Model.Email">@Model.Email</a>
        <abbr title="Phone">P:</abbr>
        <a href="tel:@Model.Phone">@Model.Phone</a>

    </address>
    <p>
        <span style="font-weight:bold">Description: </span>
        @Model.Description
    </p>

    <table>
        <tr>
            <th>Manages</th>
        </tr>
        @foreach (var name in Model.Manages)
        {
            <tr>
                <td>@name</td>
            </tr>
        }
    </table>

</main>