@using ITP245_Fall2024_Grayson.Models;
@model Contact
@{
    ViewBag.Title = "Contact Information"; // Set the title for the Contact page
    Layout = "~/Views/Shared/_Layout.cshtml"; // Use the shared layout
}

<main aria-labelledby="title" class="container border p-4 bg-light">
    <h2 id="title">@Model.Author</h2>
    <h3 class="text-info">@ViewBag.Message</h3>

    <address class="border p-3">
        <strong>@Model.Author</strong><br />
        <a href="mailto:@Model.Email">@Model.Email</a><br />
        <abbr title="Phone">P:</abbr> <a href="tel:@Model.Phone">@Model.Phone</a>
    </address>

    <p>
        <span class="font-weight-bold">Description:</span> @Model.Description
    </p>

    <table class="table table-bordered">
        <tr>
            <th>Manages</th>
        </tr>
        @foreach (var name in Model.Manages)
        {
            <tr>
                <td>@name</td>
            </tr>
        }
    </table>
</main>
