@model ITP245_Fall2024_GraysonModel.Player

@{
    ViewBag.Title = "Delete Player";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this player?</h3>

<div>
    <h4>Player Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@(Model.Email ?? "N/A")</dd>

        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">@(Model.Phone ?? "N/A")</dd>

        <dt class="col-sm-3">Birth Date</dt>
        <dd class="col-sm-9">@(Model.BirthDate?.ToString("MM/dd/yyyy") ?? "N/A")</dd>

        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">@(Model.City ?? "N/A")</dd>

        <dt class="col-sm-3">Zip Code</dt>
        <dd class="col-sm-9">@(Model.ZipCode ?? "N/A")</dd>

        <dt class="col-sm-3">Emergency Contact</dt>
        <dd class="col-sm-9">@(Model.EmergencyContact ?? "N/A")</dd>

        <dt class="col-sm-3">Emergency Phone</dt>
        <dd class="col-sm-9">@(Model.EmergencyPhone ?? "N/A")</dd>

        <dt class="col-sm-3">Active Player</dt>
        <dd class="col-sm-9">@(Model.IsActivePlayer ? "Yes" : "No")</dd>

        <dt class="col-sm-3">Leadership Team Manager</dt>
        <dd class="col-sm-9">
            @if (Model.IsLeadershipTeamManager.HasValue)
            {
                @(Model.IsLeadershipTeamManager.Value ? "Yes" : "No")
            }
            else
            {
                <span>Unknown</span>
            }
        </dd>

        <!-- Display Team Information -->
        <dt class="col-sm-3">Team</dt>
        <dd class="col-sm-9">
            @if (Model.Rosters.Any())
            {
                foreach (var roster in Model.Rosters)
                {
                    @roster.Team.Name
                }
            }
            else
            {
                <span>No team assigned</span>
            }
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.PlayerId)
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}
